{% extends 'layout.html' %}

{% block yield %}
<div class="container">
  <div class="card bg-dark text-white mt-5 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="https://randomuser.me/api/portraits/men/1.jpg" class="img-fluid rounded-circle" alt="Profile Picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-white">Username</h5>
          <p class="card-text">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="row">
            <div class="col">
              <p class="card-text">Followers: 100</p>
            </div>
            <div class="col">
              <p class="card-text">Friends: 200</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white mt-5 mx-auto" style="max-width: 600px;">
    <div class="card-body">
      <h5 class="card-title text-white">Posts</h5>
      <div class="card-text">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Post Content</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Post Content</p>
          </div>
        </div>
        <!-- Add more post cards as needed -->
      </div>
    </div>
  </div>
</div>

{% endblock %}