{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block yield %}

    
<div class="container">

  <div class="card text-white mt-5 mx-auto" style="width: 600px; height: auto; background-color:#FF5A5F;;">
    <div class="card-body">
      <h1 class="card-title text-white text-center fs-1 mb-5">Sign up</h1>
      <form method="POST" action="">
        {% csrf_token %}

        <div class="d-flex justify-content-around fs-5">
          <div class="mb-3">
            <label for="username" class="form-label text-white">Firstname</label>
  
            <div>
              {{form.firstname}}
            </div>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label text-white">Lastname</label>

            <div>
              {{form.firstname}}
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-around fs-5">
          <div class="mb-3">
            <label for="password" class="form-label text-white">Username</label>

            <div>
              {{form.username}}
            </div>
          </div>
            <div class="mb-3">
            <label for="password" class="form-label text-white">Email</label>

            <div>
              {{form.email}}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around fs-5">
          <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>

            <div>
              {{form.password1}}
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-white">Confirm Password</label>

            <div>
              {{form.password2}}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="rounded-pill btn btn-dark fs-5" style="width: 150px;">
            Sign Up
          </button>
        </div>
  
        <p class="my-4 fs-5">Terms and conditions;bla bla bla bla bla bla bla bla </p>
      </form>

    </div>
  </div>
</div>

      





{% endblock %}