{% extends 'layout.html' %}

{% block yield %}



<div class="container">
  <div class="card mt-5 mx-auto" style="width: 400px; color: #FF5A5F; border-color: #FF5A5F;">
    <h1 class="card-title text-center">Login</h1>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
          <label for="username" class="fs-5">Username</label>
          <input type="{{ form.username.field.widget.input_type }}"
                 name="username"
                 id="username"
                 class="form-control"
                 style="border-color: #FF5A5F;"
                 placeholder="Enter your username"
                 {% if form.username.value %} value="{{ form.username.value }}"{% endif %}
                 {% if form.username.field.required %} required{% endif %}>
        </div>
        <div class="mb-3">
          <label for="password" class="fs-5">Password</label>
          <input type="password"
                 name="password"
                 id="password"
                 class="form-control"
                 style="border-color: #FF5A5F;"
                 placeholder="Password"
                 {% if form.password.field.required %} required{% endif %}>
        </div>
        
        <div class="d-flex justify-content-center">
          <button type="submit" 
           class="rounded-pill btn fs-5 text-white" 
           style="background-color: #FF5A5F; width: 120px;">
          Login
        </button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}