{% extends 'layout.html'%}
<!-- abkadladl;fk -->
{% load crispy_forms_tags%}
<!-- ########## -->
{% block yield%}

<div class="container">
  <div class="card bg-dark text-white mt-5 mx-auto" style="max-width: 400px;">
    <div class="card-body">
      <h5 class="card-title text-white">Login</h5>
      <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
        {{form.as_p}}
        </div>
        <!-- <div class="mb-3">
          <label for="username" class="form-label text-white">Username</label>
          {{form.username}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-white">Password</label>
          {{form.password}}
        </div> -->
        <button type="submit" class="btn btn-dark btn-outline-light">Login</button>
      </form>
    </div>
  </div>
</div>

{%endblock %}
