{% extends 'layout.html' %}

{% block yield %}
<div class="container d-flex justify-content-between">
  <div class="card w-50 mt-5" style="border: 3px solid #ff5a5f; color: #ff5a5f;">
    <div class="card-body">
      <h5 class="card-title">Create Post</h5>
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control" style="border: 1px solid #ff5a5f;" placeholder="Enter your post title" required>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Text</label>
          <textarea name="text" id="text" class="form-control" style="border: 1px solid #ff5a5f;" rows="6" placeholder="Enter your post text" required></textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" name="image" id="image" class="form-control" style="border: 1px solid #ff5a5f;">
        </div>
        <div class="mb-3">
          <label for="topic" class="form-label">Topic</label>
          <select name="topic" id="topic" style="border: 1px solid #ff5a5f;" class="form-select" required>
            <option value="" disabled selected>Select a topic</option>
            {% for topic in topics %}
              <option value="{{ topic.id }}">{{ topic.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn text-white" style="background-color: #ff5a5f;">Create</button>
        <a href="{% url 'newsfeedpage' %}" class="btn btn-dark">Back</a>
      </form>
    </div>
  </div>
  <div class="mt-5" style="width: 45%; border: 1px solid #ff5a5f;"></div>
</div>


{% endblock %}