{% extends 'layout.html' %}

{% block yield %}
<div class="container">
  <div class="card mt-4" style="border: 3px solid #ff5a5f;">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.text }}</p>
      {% if check %}
      {% else %}
        <div>
          <a href="{% url 'deletepage' post.id %}" class="btn btn-danger">Delete</a>
        </div>

      {% endif %} 
      <div class="text-center">
      
        {% if post.image %}
      <!-- <h1>{{post.image.url}}</h1> -->
      <!-- <img src="{{ post.image.url }}"  class="card-img-top"/> -->
      <img src="{{post.image.url}}" class="img-fluid mb-3" alt="Post Image" style="max-width: 400; margin: 0 auto;">
    {% endif %}
      </div>
      <hr>
      <div class="mb-3">
        {% for topic in post.topic.all %}
          <span class="badge bg-secondary">{{ topic.name }}</span>
        {% endfor %}
      </div>
      <div class="row mt-3" style="color: #ff5a5f;">
        <div class="col-md-6">
          <p class="mb-3">Total Reacts: {{ post.react_set.count }}</p>
        </div>
        <div class="col-md-6">

          <p>Total Comments: {{ post.comment_set.count }}</p>
        </div>
      </div>
    </div>
  </div>
{% if check %}
  <div class="card mt-4" style="border: 3px solid #ff5a5f; color: #ff5a5f;">
    <div class="card-body">
      <h5 class="mb-3">Add Comment:</h5>
      <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control" style="border: 1px solid #ff5a5f;" name="comment-text" id="comment-text" rows="3" placeholder="Write your comment here"></textarea>
        </div>
    
        <div class="mt-2 d-flex justify-content-end">
          <button type="submit" class="btn text-white fs-5" style="background-color: #ff5a5f;">Comment</button>
        </div>
      </form>

      <hr>

      <h5 class="mb-3">Comments:</h5>
      {% for comment in post.comment_set.all %}
        <div class="card mb-3">
          <div class="card-body" style="background-color: rgba(209, 209, 209, 0.815);">
            <a class="card-text" style="color: blueviolet;" href="{% url 'profilepage' user.id %}">@{{ comment.user.username }}</a>
            <div class="d-flex justify-content-between">
              <div class="w-75">
                <p class="card-text">{{ comment.text }}</p>
              </div>
              <div class="w-25 d-flex justify-content-end">
                <a class="btn btn-danger" style="width: 75px; height: 40px;" href="{% url 'deletecommentpage' comment.id %}">Delete</a>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
  <div class="card mt-5" style="border: 3px solid #ff5a5f;color: #ff5a5f;">
    <div class="card-body">
   


      <h5 class="mb-3">Comments:</h5>
      {% for comment in post.comment_set.all %}
        <div class="card mb-3">
          <div class="card-body" style="background-color: rgba(209, 209, 209, 0.815);">

            <a class="card-text" href="{% url 'profilepage' comment.user.id %}" style="text-decoration:none; color:blueviolet;">@{{ comment.user.username }}</a>
            <p class="card-text">{{ comment.text }}</p>
 
  
  

          </div>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    </div>
  </div>
</div>


{% endif %}

{% endblock %}